In [1]:
import warnings
warnings.filterwarnings('ignore')

import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
with open('logins.json') as f:
    data = json.load(f)

a = pd.DataFrame(data)

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93142 entries, 0 to 93141
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   login_time  93142 non-null  object
dtypes: object(1)
memory usage: 727.8+ KB

In [5]:
a.head()

            login_time
0  1970-01-01 20:13:18
1  1970-01-01 20:16:10
2  1970-01-01 20:16:37
3  1970-01-01 20:16:36
4  1970-01-01 20:26:21

In [6]:
a['login_time'] = pd.to_datetime(a.login_time, format="%Y-%m-%d")
a = a.sort_values('login_time')
a.head()

           login_time
6 1970-01-01 20:12:16
0 1970-01-01 20:13:18
1 1970-01-01 20:16:10
3 1970-01-01 20:16:36
2 1970-01-01 20:16:37