In [1]:
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
#importing CSV file

income_data = pd.read_csv('income_evaluation.csv')

In [3]:
#Data Summary
income_data.info

<bound method DataFrame.info of        age          workclass   fnlwgt    education   education-num  \
0       39          State-gov    77516    Bachelors              13
1       50   Self-emp-not-inc    83311    Bachelors              13
2       38            Private   215646      HS-grad               9
3       53            Private   234721         11th               7
4       28            Private   338409    Bachelors              13
...    ...                ...      ...          ...             ...
32556   27            Private   257302   Assoc-acdm              12
32557   40            Private   154374      HS-grad               9
32558   58            Private   151910      HS-grad               9
32559   22            Private   201490      HS-grad               9
32560   52       Self-emp-inc   287927      HS-grad               9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex   capital-gain   capital-loss   hours-per-week  native-country  \
0         Male           2174              0               40   United-States
1         Male              0              0               13   United-States
2         Male              0              0               40   United-States
3         Male              0              0               40   United-States
4       Female              0              0               40            Cuba
...        ...            ...            ...              ...             ...
32556   Female              0              0               38   United-States
32557     Male              0              0               40   United-States
32558   Female              0              0               40   United-States
32559     Male              0              0               20   United-States
32560   Female          15024              0               40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>

In [4]:
income_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
#Checking Missing Values
income_data_Work=income_data
income_data_Work.isnull().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

In [6]:
#Rearranging columns
income_data_df=income_data_Work.rename(columns={'age': 'Age', ' workclass': 'Workclass', ' fnlwgt': 'Final_Weight', ' education': 'Education', ' education-num': 'Education_Num', ' marital-status': 'Marital_Status', ' occupation': 'Occupation', ' relationship': 'Relationship', ' race': 'Race', ' sex': 'Sex', ' capital-gain': 'Capital_gain', ' capital-loss': 'Capital_loss',   ' hours-per-week': 'Hours_per_week', ' native-country': 'Native_country', ' income': 'Income'})

In [7]:
income_data_df.isnull().sum()

Age               0
Workclass         0
Final_Weight      0
Education         0
Education_Num     0
Marital_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_gain      0
Capital_loss      0
Hours_per_week    0
Native_country    0
Income            0
dtype: int64

In [8]:
#Checking the data types
income_data_df.dtypes

Age                int64
Workclass         object
Final_Weight       int64
Education         object
Education_Num      int64
Marital_Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital_gain       int64
Capital_loss       int64
Hours_per_week     int64
Native_country    object
Income            object
dtype: object

In [11]:
income_data_df.to_csv(r'C:\Users\psekyi\Desktop\Springboard\Unit 11\Capstone\income_data_df.csv', index = False)